%h1 Available Courses

%table.l-Grid.grid
  %thead.grid--Header
    %tr.grid--Row
      %th.grid--Head Title
      %th.grid--Head Description
      %th.grid--Head
      %th.grid--Head
      %th.grid--Head

  %tbody.grid--Body
    - @courses.each do |course|
      %tr.grid--Row
        %td.grid--Data= course.title
        %td.grid--Data= course.description
        %td.grid--Data
          .grid--Action.fas.fa-binoculars= link_to '', course
        %td.grid--Data
          .grid--Action.fas.fa-pen= link_to '', edit_course_path(course)
        %td.grid--Data
          .grid--Action.fas.fa-trash= link_to '', course, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
