!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hello Kelly
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .l-Navbar.navbar
      .l-Navbar-Logo.navbar--Logo
        Hello Kelly
      .l-Navbar-Items
        = link_to root_path, class: 'navbar--Item' do
          %i.fas.fa-home
          &nbsp;
          Home
        .navbar--Item
          %i.fas.fa-info
          &nbsp;
          About
        = link_to courses_path, class: 'navbar--Item' do
          %i.fab.fa-buffer
          &nbsp;
          Courses
        .navbar--Item
          %i.fas.fa-comments
          &nbsp;
          Community
        .navbar--Item.navbar--Login
          LOGIN
      
    .l-MainPage
      = yield

/    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'